:root {
    font-family: 'DM Sans', sans-serif;
}

.main{
    margin:0 auto;
    width:1280px;
    min-height: 1500px;
    background-color: #AE1332;
}


/* fonts - to import: 
DM Sans: 
font-weight: 700, 500, 400 

h1: 
font-family: DM Sans;
font-size: 64px;
font-weight: 500;
line-height: 64px;
letter-spacing: -0.04em;

h2: 
font-family: DM Sans;
font-size: 40px;
font-weight: 500;
line-height: 44px;
letter-spacing: -0.04em;

h3: (card title -fruiots name)
font-family: DM Sans;
font-size: 32px;
font-weight: 700;
line-height: 38px;
letter-spacing: -0.04em;


logo: 
font-family: DM Sans;
font-size: 12px;
font-weight: 500;
line-height: 14px;
letter-spacing: -0.04em;

btn__label:
font-family: DM Sans;
font-size: 12px;
font-weight: 500;
line-height: 14px;
letter-spacing: -0.04em;


body__text: 
font-family: DM Sans;
font-size: 14px;
font-weight: 400;
line-height: 18px;
letter-spacing: -0.04em;
